:root {
    --primary-color: #a39079;
    --text-gray: #898989;
    --border-color: #ddd;
    --white: #ffffff;
    --font-size-small: 10px;
    --font-size-regular: 13px;
    --font-size-medium: 14px;
    --font-size-large: 16px;
    --font-size-xlarge: 20px;
    --spacing-small: 8px;
    --spacing-medium: 15px;
    --spacing-large: 20px;
    --spacing-xlarge: 40px;
}

.choose-box-line {
    height: 4px;
    background-color: var(--text-gray);
    width: 70%;
    margin: var(--spacing-xlarge) auto;
}

.choose-box-steps-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: var(--spacing-large);
}

.choose-box-step {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin-top: -40px;
}

.choose-box-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--white);
    color: var(--text-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-small);
    border: 2px solid var(--text-gray);
    margin-top: -20px;
    margin-right: var(--spacing-small);
    transition: background-color 0.3s, border-color 0.3s;
}

.choose-box-circle.completed {
    background-color: var(--primary-color);
    color: var(--white);
    border-color: var(--primary-color);
}

.choose-box-text {
    text-align: center;
    color: var(--text-gray);
}

.choose-box-text h3 {
    font-size: var(--font-size-medium);
    margin-bottom: 5px;
}

.choose-box-text p {
    font-size: var(--font-size-small);
}
