:root {
    --primary-color: #a39079;
    --text-gray: #898989;
    --border-color: #ddd;
    --white: #ffffff;
    --link: #007bff;
    --font-size-small: 10px;
    --font-size-regular: 13px;
    --font-size-medium: 14px;
    --font-size-large: 16px;
    --font-size-xlarge: 20px;
    --spacing-small: 8px;
    --spacing-medium: 15px;
    --spacing-large: 20px;
    --spacing-xlarge: 40px;
}

.image-container {
    position: relative;
    width: 100%; /* Konteyner genişliği */
    height: 0;
    padding-top: 75%; /* 4:3 oranı için, bunu değiştirebilirsiniz */
    overflow: hidden; /* Görsel taşmalarını gizle */
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Görüntüyü konteynerin genişliği kadar yap */
    height: 100%; /* Görüntüyü konteynerin yüksekliği kadar yap */
    object-fit: cover; /* Görseli kırparak konteyneri kapla */
    transition: opacity 0.3s ease; /* Yumuşak geçiş efekti */
}

.normal-image {
    opacity: 1; /* Varsayılan resim görünür */
}

.hover-image {
    opacity: 0; /* Hover resim başlangıçta görünmez */
}

.image-container:hover .normal-image {
    opacity: 0; /* Hover sırasında normal resmi gizle */
}

.image-container:hover .hover-image {
    opacity: 1; /* Hover sırasında hover resmini göster */
}

h2 {
    text-align: center !important;
}

.slider-container {
    position: relative;
    overflow: hidden;
    height: 400px;
}

.slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slider-item {
    min-width: 100%;
    height: 400px;
    object-fit: contain;
}

.slider-prev, .slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.slider-prev {
    left: 10px;
}

.slider-next {
    right: 10px;
}

#showMoreBtn {
    color: var(--link);
    text-decoration: underline;
    cursor: pointer;
}

.toggle-button {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: var(--link);
    font-weight: bold;
}

.toggle-button:hover {
    text-decoration: underline;
}

.font-avenir-light {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collapse-content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
}

.collapse-inner {
    padding: 1rem;
}

.accordion-header button {
    width: 100%;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.accordion-header button:hover {
    opacity: 0.8;
}

