/*Images Slider started*/
.carousel-inner h5 {
    font-size: 25px;
}
.carousel-inner h4 {
    font-size: 48px;
    margin-bottom: 20px;
}
.carousel-inner p {
    font-size: 16px;
    margin-bottom: 20px;
}
.new-year-gifts {
    font-size: 22px;
    font-weight: bold;
    background-color: #5a0009;
    color: #ffffff;
    padding: 10px 40px;
    border: 1px solid #ffffff;
    border-radius: 50px;
}
/*Images Slider finished*/
